.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/slider.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 798px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 321px 570px 0 52px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 42px 527px 0 -50px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 63px auto 0 280px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -42px auto 60px 55px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 331px;
    margin-right: 506px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 386px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
    margin-left: 80px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 360px;
    margin-right: 202px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 191px;
    margin-left: -50px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 76px;
    margin-right: 22px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -366px;
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 612px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 29px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 18px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 134px 505px 0 10px;
}

.u-section-2 .u-text-2 {
  margin: -216px 0 0 215px;
}

.u-section-2 .u-image-1 {
  min-height: 406px;
  background-image: url("images/about.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 89px;
  width: 89px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px 652px 0 auto;
  padding: 9px 48px 11px 47px;
}

.u-section-2 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 29px 820px 0 275px;
}

.u-section-2 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: -45px 652px 0 auto;
}

.u-section-2 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: -45px auto 29px 359px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 382px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 148px;
  }

  .u-section-2 .u-image-1 {
    min-height: 335px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 452px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 175px;
    margin-right: 720px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 275px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 41px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 232px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 65px;
    margin-right: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 52px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 0;
    margin-right: 495px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 495px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 75px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 364px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 295px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 295px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 295px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 758px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 60px auto 0 372px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0 822px;
}

.u-section-3 .u-text-1 {
  margin: -64px 460px 0 486px;
}

.u-section-3 .u-text-2 {
  margin: -24px 37px 0 936px;
}

.u-section-3 .u-text-3 {
  margin: 25px -89px 0 911px;
}

.u-section-3 .u-text-4 {
  margin: -77px 363px 0 459px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 109px auto 0 372px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: -64px auto 0 -50px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: -58px auto 0 822px;
}

.u-section-3 .u-text-6 {
  margin: -59px 461px 0 486px;
}

.u-section-3 .u-text-7 {
  margin: -36px 50px 0 936px;
}

.u-section-3 .u-text-8 {
  margin: 37px 361px 0 461px;
}

.u-section-3 .u-text-9 {
  margin: -86px -89px 0 911px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 108px auto 0 822px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: -65px auto 0 372px;
}

.u-section-3 .u-text-10 {
  margin: -64px auto 0 486px;
}

.u-section-3 .u-text-11 {
  margin: 25px 362px 0 459px;
}

.u-section-3 .u-text-12 {
  margin: -126px 50px 0 936px;
}

.u-section-3 .u-text-13 {
  margin: 25px -89px 60px 911px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 360px;
    margin-left: 386px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 773px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 811px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 263px;
    margin-left: 359px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -41px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 361px;
    margin-left: 386px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 785px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 261px;
    margin-left: 361px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 811px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 400px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 262px;
    margin-left: 359px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 785px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-2 {
    margin-left: 656px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 250px;
    margin-left: 276px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 553px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 701px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 153px;
    margin-left: 249px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -31px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 656px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 251px;
    margin-left: 276px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 565px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 151px;
    margin-left: 251px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 701px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 656px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 306px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 152px;
    margin-left: 249px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 565px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 701px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-2 {
    margin-left: 476px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 160px;
    margin-left: 186px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 611px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 63px;
    margin-left: 159px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -23px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 476px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 161px;
    margin-left: 186px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 385px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 61px;
    margin-left: 161px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 611px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 476px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 230px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 62px;
    margin-left: 159px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 385px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 611px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-icon-1 {
    margin-left: 276px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 60px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 511px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-5 {
    margin-left: -14px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 61px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 185px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 511px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 276px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 276px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 185px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 511px;
  }
}